{% extends "gallery/base.html" %}
{% block pagetitle %}{{gallery}} - Image Gallery{% endblock %}

{% block content %}
<h3>{{gallery}} {% if can_add %}[ <a href="/gallery/image/add/{{gallery.pk}}">Add Image</a> ]{% endif %}</h3>
Created by: <b>{{gallery.user.username}}</b> on {{gallery.date_created|date:"l, F jS, Y"}}
<br/><br/>

{% for i in images %}
  <b>{{i.name}}</b>

  {% if can_edit or can_delete %}[{% endif %}
  {% if can_edit %}<a href="/gallery/image/edit/{{i.id}}">Edit</a>{% endif %}
  {% if can_edit and can_delete %}/{% endif %}
  {% if can_delete %}<a href="/gallery/image/delete/{{i.id}}">Delete</a>{% endif %}
  {% if can_edit or can_delete %}]{% endif %}
  <br/>
  
  <img src="{{i.image.url}}" style="max-width: 100%"/>
  <br/>

  {{i.description}}
  <br/><br/>
{% endfor %}

{% endblock %}
