{% extends "gallery/base.html" %}
{% block pagetitle %}Edit Image{% endblock %}

{% block content %}
<h3>Edit Image: {{image}}</h3>

{% if error %}
  <br/>
  <b>There was an error updating the image. Please make sure you fill out all fields and try again!</b>
  <br/><br/>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
  <table class="login_register">
    {{image_form.as_table}}
    {% csrf_token %}
    <tr>
      <td></td>
      <td><input type="submit" value="Save Changes"/></td>
    </tr>
  </table>
</form>

<br/>
<a href="/gallery/{{gallery.id}}">Cancel</a>
{% endblock %}
