## global patterns
*.pyc
*~
\#*#

## global files
gus.db
guspy.db
.pydevproject
.project

## specific files/directories
# include only generated html
docs/index.rst
docs/_*/
docs/epydoc/
docs/covhtml/
