{% extends "base.html" %}
{% block content %}
<h4>Events</h4>

<form action="/calendar/{{year}}/{{month}}/" method="post">
{% csrf_token %}
{{events.management_form}}

{% for event in events.forms %}
{{event}}
  <div class="event">
    <div class="del">Delete{{event.delete_event}}</div>
    <br>
    <p>Event Name: {{event.event_name}}</p>
    <br>
    <p>Description: {{event.description}}</p>
  </div>
{% endfor %}

<input type="submit" value="save">
</form>

{% endblock content %}

{% block pagetitle %}
Calendar-Events
{% endblock pagetitle %}