{% extends "base.html" %}
{% block content %}

<center>
{% if group %} <h1>{{group_name}} Calendar</h1> {% endif %}
{% if not group %}<h1>My Calendar</h1>{% endif %}
</center>
<h2><center>{{month_name}} {{year}}</center></h2>
{% for year, months in years %}
<center>
<table cellpadding="10" cellspacing="3" class="calendar">

       <div class="year">
   {% for month in months %}
        {% if month.current %}
             {% if group %}
                <td><a href="/calendar/group{{group_id}}/{{year}}/{{month.name}}/"><center><b>{{ month.name }}</b></center></a></td>
             {% else %}
            <td><a href="/calendar/{{year}}/{{month.name}}/"><center><b>{{ month.name }}</b></center></a></td>
            {% endif %}
        {% endif %}
        
        {% if not month.current %} 
                {% if group %}
                     <td><a href="/calendar/group{{group_id}}/{{year}}/{{month.name}}/"><center>{{ month.name }}</center></a></td>
                {% else %}
                <td> <a href="/calendar/{{year}}/{{month.name}}/"><center>{{ month.name }}</center></a></td>
                {% endif %}
        {% endif %}
                
                <!--{% if month.event %}</b>{% endif %}<-->

    
       {% endfor %}
       </div>

     </table>
     </center>
{% endfor %}


<div class="month">
  <center>
    <table border="1" bordercolor="#ced9fe"class="month">

    <tr align="center">
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, total_events, current, num_total_events in week %}

    
            <td height="70" width="75"

            {% if day != 0 and not group %}
            
              valign="top"
              onmouseover=this.style.backgroundColor="#dce4cc";this.style.cursor='pointer'
              onmouseout=this.style.backgroundColor="#e8edff" 
              onclick= "top.location='/calendar/{{year}}/{{month_name}}/_add{{day}}/'">
             {% endif %}
             {% if day != 0 and group %}

             valign="top"
              onmouseover=this.style.backgroundColor="#dce4cc";this.style.cursor='pointer'
              onmouseout=this.style.backgroundColor="#e8edff"
              onclick= "top.location='/calendar/group{{group_id}}/{{year}}/{{month_name}}/_add{{day}}/'">
              {% endif %}
              
              
              {% if day != 0 %}
                {{ day }}
                <br>
               
               {% if num_total_events > 2 %} 
               
                <a href="/calendar/{{year}}/{{month_name}}/{{day}}/view_events/">Show {{num_total_events}} events</a>
                
                
                {% else %}
                {% for events in total_events %}
                {% for event in events %}
                    <b><a href="/calendar/{{year}}/{{month_name}}/{{day}}/{{event.pk}}/">{{ event.event_name }}</a></b>
                    <p> 
               {% endfor %}
               {% endfor %}
               {% endif %}
               {% endif %}
              
               
              
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</center>
</div>


{% endblock content %}
{% block pagetitle %}
Calendar
{% endblock pagetitle %}




