{% extends "base.html" %}
{% block content %}


<h4><center>{{month_name}} {{year}}</center></h4>
{% for year, months in years %}
<center>
<table cellpadding="10" cellspacing="3">
     <tr>
       <div class="year">
   {% for month in months %}
        {% if month.current %}
            <td><a href="/calendar/{{year}}/{{month.name}}/"><center><b>{{ month.name }}</b></center></a></td>
        {% endif %}
        
        {% if not month.current %} 
                <!--{% if month.event %}<b>{% endif %}-->
                <td onmouseover=this.style.backgroundColor><a href="/calendar/{{year}}/{{month.name}}/"><center>{{ month.name }}</center></a></td>
        {% endif %}
                
                <!--{% if month.event %}</b>{% endif %}<-->

    
       {% endfor %}
       </div>
     </tr>
     </table>
     </center>
{% endfor %}


<div class="month">
  <center>
    <table border="1" bordercolor="#42647F" style="background-color:#A7CAE8" cellpadding="10" cellspacing="3">

    <tr bgcolor="#D8D8D8" background-color="#D8D8D8" height="50">
        <th class="empty">Monday</th>
        <th class="empty">Tuesday</th>
        <th class="empty">Wednesday</th>
        <th class="empty">Thursday</th>
        <th class="empty">Friday</th>
        <th class="empty">Saturday</th>
        <th class="empty">Sunday</th>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, events, current in week %}

    
            <td height="70" width="65"

            {% if day != 0 %}
              valign="top"
              onmouseover=this.style.backgroundColor='#D8D8D8';this.style.cursor='pointer'
              onmouseout=this.style.backgroundColor='#A7CAE8' 
              onclick= "top.location='/calendar/{{year}}/{{month_name}}/_add{{day}}/'">
             
              {% endif %}
              
              {% if day != 0 %}
                {{ day }}
                <br>
               {% if events|length > 2 %} 
                  {% for event in events|slice:":1" %}
                  <b><a href="/calendar/{{year}}/{{month_name}}/{{day}}/{{event.pk}}/">{{ event.event_name }}</a></b>
                  <hr size="1" noshade>
                  {% endfor %}
                <a href="/calendar/{{year}}/{{month_name}}/{{day}}/view_events/">View All</a>
                
                
                {% else %}
                {% for event in events %}
                    <b><a href="/calendar/{{year}}/{{month_name}}/{{day}}/{{event.pk}}/">{{ event.event_name }}</a></b>
                    <p>
                    
               {% endfor %}
               {% endif %}
               {% endif %}
        {% comment %}    {% endif %} {% endcomment %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</center>
</div>


{% endblock content %}
{% block pagetitle %}
Calendar
{% endblock pagetitle %}




