{% extends "base.html" %}
{% block content %}
<h4>Events on {{month_name}} {{day}}, {{year}}</h4>
{% for events in total_day_events %}
  {% for event in events %}

<br>
<h3>{{name}}</h3>
{{start_time}} to {{end_time}}
<br>
<b>Creator:</b> {{creator.username}}
<br> 
<b>Group:</b> {{event_group.group_name}} 
<br>
<b>Description:</b> {{description}}
<br>
<br>
{% for group in auth_groups %}
  {% if event.Group == group %}
<input type="button" 
value="Edit" 
onclick="location.href='/calendar/{{year}}/{{month_name}}/_edit{{day}}/{{event.pk}}/'">
{% endif %}
{% endfor %}


<br>
<br>
<br>
{% endfor %}
{% endfor %}
{% endblock content %}

{% block pagetitle %}
gus Calendar-View All
{% endblock pagetitle %}