<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>{% block pagetitle %}gus{% endblock %}</title>
		{% comment %} <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> {% endcomment %}
		{% block custom_header %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="/include/css/gus.css"/>
	</head>
	<body>
		<div id="header">
			<table border="0"><tr>
				<td>{% block title %}
					<a href="/" class="header_image"><img src="/include/images/guspy.png"/></a>
					{% endblock %}</td>
				<td><h1>{% block subtitle %}Groups in a University Setting{% endblock %}</h1></tr>
			</tr></table>
				{% block menu %}
			<ul>
				<li><a href="/gus_test/">Manage Groups/Users</a></li>
				<li><a href="/calendar/">Calendar</a></li>
				<li><a href="/email/">Email</a></li>
				<li><a href="/bill/">Bill</a></li>
				<li><a href="/gallery/">Gallery</a></li>
				<li></li>
				<li></li>
			</ul>
			{% endblock %}
			{% block submenu %}
			<p id="layoutdims">
				{% if user.is_anonymous %}
					Not Logged In: <a href="/login/">Login</a> | <a href="/register/">Register</a> </p>
				{% else %}
					{{ user.username|capfirst }}: <a href="/logout/">Logout</a> 
				{% endif %}
			{% endblock %}
		</div>
		<div class="colmask leftmenu"> 
			<div class="colright"> 
				<div class="col1wrap"> 
					<div class="col1"> 
					{% block content %}
					{% endblock %}
					</div> 
					
				</div> 
				<div class="col2"> 
					{% block sidebar %}
					
					{% block sidebar_top %}
					{% endblock %}

					<br><hr/>
					
					{% block sidebar_sitewide %}
					<a href="https://github.com/arkenflame/gus" class="blue_hover">Reports</a>
					{% endblock %}
					
					<br><hr/>

					{% block sidebar_bottom %}
					{% endblock %}
					
					{% endblock %}
				</div> 
			</div> 
		</div>
		<div id="footer">
			{% block footer %}
			<p>(c) 2011 -= GusPy (UIdaho CS 384) =-</p>
			{% endblock %}
		</div>
	</body>
</html>
