{% extends "base.html" %}

{% block content %}
<h2>Welcome to G.U.S.</h2>
<hr/>
{% if not user.is_anonymous %}
You Are Logged in as {{ user.username }}, So you have a different welcome page that is comming soon
<br/><br/><br/>
sincerly,<br/>
Joran
{% else %}
<h3>What is Gus</h3><ul>
<li>Set of group management tools</li>
<li>Aimed at university-style groups </li>
<li>Simple/Intuitive</li>
<li>Easy to pick up, straight to the point<li>
<li><strong>Modular</strong></li>
<li>Modules: Calendar, Forum, Image Gallery...</li>
<li> La Carte, only show what the group needs</li>

<li><strong>Granular<strong></li>
<li>Control who has what access to what information</li>
</ul>
{% endif %}
{%  endblock %}