{% extends "base.html" %}

{% block content %}

{% if not user.is_anonymous %}
<h2>My Groups</h2>
<hr/>
{% for role in user.roles %}
{{role.group.group_name}} ({{ role.name }}) 
[<a href="/groups/{{role.group.id}}/Edit">Visit</a>]
<br/>

{% endfor %}
<br/><br/><br/>
<br/>

{% else %}
<h2>G.U.S.</h2>
<hr/>
<h3>What is Gus?</h3><ul>
<li>A set of group management tools</li>
<li>Aimed at university-style groups </li>
<li><strong>Simple</strong></li>
<li>Easy to pick up, straight to the point</li>
<li><strong>Modular</strong></li>
<li>Calendar</li>
<li>Forum</li>
<li>Image Gallery</li>
<li>News</li>
<li><strong>Granular</strong></li>
<li>Control who has access to specific information</li>
</ul>
{% endif %}

{% include "users/list.html/" %}
{%  endblock %}