body {
	background-image:url('logo.png');
	background-color:white;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	width: 1024px;
	margin: auto;
	padding: 2px;
	font-family: "Arial";
	font-size: 11pt;
}

.groups{
	text-align: left;
	padding-left: 10px;
	font-family: Verdana;
	font-size: 11pt;
}

#header_element{
	background-color: #FFF49D;
	background-image:url('gus_logo.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 14pt;
	height: 168px;	
	padding-left:255px;
}

#user_header{
	
}

#links{
	width: 100%;
	float: center;
	clear: both;
	text-align: center;	
	background: #9cff2b; 
	height: 50px;
}

#links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}


#content{	
 	float: right; 
	width:	80%;  
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 10px;
	background: #9cff7b; 
}

#group_column{
	float: left; 
	width: 18%;
	background: #FFF49D;
	border-top: 1px solid black;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 14pt;
}

#footer{
	width: 100%;
	clear: both;
	float: center;
	text-align: center;
	padding-bottom: 30px;
}

