body {
	background-image:url('star_background.png');
	background-color:white;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	width: 1024px;
	margin: auto;
	padding: 2px;
	font-family: "Arial";
	font-size: 11pt;
}

.groups{
	text-align: left;
	padding-left: 10px;
	font-family: Verdana;
	font-size: 11pt;
}

#header_element{
	background-image:url('gus_logo.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	text-align:right;
	font-size: 14pt;
	height: 168px;	
	padding-left:255px;
}

#user_header{
	
}

#links{
	width: 100%;
	float: center;
	clear: both;
	text-align: center;
	vertical-align:text-top; 
	padding-bottom: 20px;
	border-top:2px dashed #f6ba2f;
	padding-top: 2px
	/*Shamelessly ninjaed from http://www.tankedup-imaging.com/css_dev/css-gradient.html*/
	/*Fall Back Option*/
	background: white;
	/* gecko based browsers */	
	background: -moz-linear-gradient(top, #fffeed, #fff9ca);
	/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#fffeed), to(#fff9ca));
	height: auto;
}

#links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#spreader{
	width: 100%;
	float: center;
	clear: both;
	height: 20px;
}

#content{	
 	float: right; 
	width:	78%;  
	border-top: 2px dashed #f6ba2f;
	padding: 10px;
	background-image:url('content_background.png'); 
}

#group_column{
	float: left top; 
	width: 18%;
	border-top: 2px dashed #f6ba2f;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 14pt;
	padding-bottom: 10px;
	background: #fff9ca;
	
	/*Shamelessly ninjaed from http://www.tankedup-imaging.com/css_dev/css-gradient.html*/
	/* gecko based browsers */
	background: -moz-linear-gradient(top, #fffeed, #fff495);

	/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#fffeed), to(#fff495));
	height: auto;

}

#footer{
	width: 100%;
	clear: both;
	float: center;
	text-align: center;
	height: 30px;
	font-size: 9px;
	font-color: #666;
	background-color:#f5f5f0;
	padding-top: 2px;
	border-top: 1px dashed #bcbcbc;
}

