{% extends "base.html" %}
{% block title %}Gus Forums {% endblock %}
{% block site_content %} 
{% load user_extras %}{# IMPORT CUSTOM USER HELPER FUNCTIONS FROM gus_groups/templatetags/user_extras.py #}
{# One of the user extras is require_permission  which will require the user have the correct permissions  Or will redirect to the login screen  #}
{% require_permission  user forum.group  'gus_talk.add_gus_message' %}

<div id="list">
{% userbar user.user forum.group %}
<table border="0" width="100%">
    {% for thread in threads %}
        <tr class="title{% if forloop.counter|divisibleby:2 %} even_row{% endif %}" >
		<td width="50%">{{ thread.title }}</td> 
		<td>{{ thread.creator }}</td>
		<td>{{ thread.created }}</td>
		<td><a href="{% url gus_talk.views.thread thread.id %}">View</a></td>
	</tr>
    {% endfor %} 
</table>

    <div id="new_message_form">
	<form method="post"> 
		<strong>Thread Title:</strong><input type="text" name="thread_title" size="38"><br/>
		<textarea name="message" cols="40" rows="10" ></textarea><br />
		<input type="hidden" name="fid" value="{{fid}}" />
		<input type="hidden" name="uid" value="{{user.user.id}}" />
		<input id="newmsg_btn" type="submit" value="Create Thread" />
		<input id="canx_btn" type="button" value="Cancel" />
		{% csrf_token %}
	</form>
    </div>
    <input id="rply_btn" type="button" value="New Thread" />


</div>


<script type="text/javascript" >
//Leet Javascripts
$('#rply_btn').click(function(){ // manage clicking of the reply button
	$('#new_message_form').show()	
	$(this).hide()
})
$('#canx_btn').click(function(){ //manage clickin of cancel reply button
	$('#new_message_form').hide()	
	$('#rply_btn').show()
})
</script>
{% endblock %}
