{% extends "base.html" %}
{% block content %}
<h2>{{ group }} <a href="/email/Group/{{group.id}}/">Email Group</a></h2>
<a href="/forum/{{group.id}}/">Group Forums</a>
<p>{{ group.group_description }}</p>
<hr />
{% for role in roles %}
<strong>{{ role.name }}({{ role.users.all|length }})</strong>
[
  <a href="/roles/EditPerms/{{ role.id }}/">Edit Role</a>
]
[
  <a href="/roles/Delete/{{ role.id }}/{{ group.id }}/">Delete Role</a>
]
<br />
{{ role.permissionsString }} <br />
{% for user in role.users.all %}
{{ user }} [
  <a href="/groups/{{group.id}}/RemoveUser/{{user.id}}/">Delete User</a>
]
[
  <a href="/groups/{{group.id}}/EditRole/{{user.id}}/">Change User Role</a>
]<br/>
{% endfor %}
{% endfor %}

<div style="border:thin red solid;margin:50px;padding:25px">
	<a href="/groups/{{group.id}}/CreateRole/">Create A New Role</a>
<form method="post" >
<fieldset><legend>Add User to Group</legend>
{{ formAddUser.as_p }}
{% csrf_token %}
<input type="submit" value="Add New Member"></fieldset>
</form>
</div>
{% endblock %}
