{% extends "base.html" %}
{% block sidebar_top %}
<ul>
    {% if can.adduser %}
    <li><a href="#" onClick="toggle(0)">Add User</a>
    {% endif %}
    {% if can.addrole %}
    <li><a href="/groups/{{group.id}}/CreateRole/">Create a New Role</a>
    {% endif %}
    {% if can.addgroup %}
    <li><a href="/groups/{{group.id}}/Addsubgroup/">Add Subgroup</a>
    {% endif %}
    <li><a href="/calendar/group{{group.id}}/">Group Calendar</a>
    <li><a href="/gallery/group/{{group.id}}/">Group Gallery</a>
    <li><a href="/forum/{{group.id}}/">Group Forums</a>
    <li><a href="/email/Group/{{group.id}}/">Email Group</a>
</ul>
{% endblock%}
{% block content %}

<h2>{{ group }}</h2>
<p>{{ group.group_description }}</p>
<hr />
{% if can.adduser %}
<div style="display:none" id="Add">
<form method="post" >
<fieldset><legend>Add User to Group</legend>
{{ formAddUser.as_p }}
{% csrf_token %}
<input type="submit" value="Add New Member">
<a href="#" onClick="toggle(1)">Cancel</a>
</fieldset>
</form>
</div>
{% endif %}
{% for r in roles %}
{% for usr in r.users.all %}
{{ usr.username }} (
{% if r.name != "Owner" and can.editrole %}
<a href="/groups/EditPerms/{{r.id}}/">{{r.name}}</a>
{% else %}
{{r.name}}
{% endif %}
)
<br/>
<div style="margin-left:25px">
{% if can.edituser %}
<a href="/groups/{{group.id}}/EditRole/{{usr.id}}">Change User Role</a>
{% endif %}
{% if can.edituser and can.deluser and usr.id != user.id%} | {% endif %}
{% if can.deluser and user.id != usr.id %}
<a href="/groups/{{group.id}}/RemoveUser/{{usr.id}}/">Remove User</a>
{% endif %}
</div>

{% endfor %}
{% endfor %}
<script type="text/javascript">
function toggle(flag){
    if(!flag){
        document.getElementById("Add").style.display="block"
    }
    else{
        document.getElementById("Add").style.display="none"
    }
}
</script>
{% for subgrp in group.getChildren %}
<div>
<h2>{{subgrp.group_name}}<h2>
	<div style="margin-left:15px">
	{% for r in subgrp.roles %}
	{% for usr in r.users.all %}
	{{ usr.username }} (
	{% if r.name != "Owner" and can.editrole %}
		<a href="/roles/EditPerms/{{r.id}}/">{{r.name}}</a>
	{% else %}
		{{r.name}}

	{% endif %} 

	<br/>
<div style="margin-left:40px">
{% if can.edituser %}
<a href="/groups/{{group.id}}/EditRole/{{usr.id}}">Change User Role</a>
{% endif %}
{% if can.edituser and can.deluser and usr.id != user.id%} | {% endif %}
{% if can.deluser and user.id != usr.id %}
<a href="/groups/{{group.id}}/RemoveUser/{{usr.id}}/">Delete User</a>
{% endif %}
</div>

{% endfor %}
{% endfor %}
</div>
</div>	
{% endfor %}
{% comment %}
{{ can }} {{ group }}
{% endcomment %}
{% endblock %}
