{% extends "base.html" %}
{% block custom_header %}{% if can.adduser %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  if (!Array.prototype.map)
{
  Array.prototype.map = function(fun /*, thisp*/)
  {
    var len = this.length;
    if (typeof fun != "function")
      throw new TypeError();

    var res = new Array(len);
    var thisp = arguments[1];
    for (var i = 0; i < len; i++)
    {
      if (i in this)
        res[i] = fun.call(thisp, this[i], i, this);
    }

    return res;
  };
}
if (!Array.prototype.filter)
{
  Array.prototype.filter = function(fun /*, thisp*/)
  {
    var len = this.length;
    if (typeof fun != "function")
      throw new TypeError();

    var res = new Array();
    var thisp = arguments[1];
    for (var i = 0; i < len; i++)
    {
      if (i in this)
      {
        var val = this[i]; // in case fun mutates this
        if (fun.call(thisp, val, i, this))
          res.push(val);
      }
    }

    return res;
  };
}


  $(document).ready(function() {
  	$('#id_new_member').hide()
	
	//$('#autoselect').autocomplete({ source:opts })
    $("input#autocomplete").autocomplete({
    source: [{{addUserString|safe}}] ,
    close: function(event, ui) { 
    	uname="User: "+$("input#autocomplete").val()
    	//alert(uname)
    	opts = $('#id_new_member>option')
    	for (i=0;i<opts.length;i++){
    		if (opts[i].innerHTML.match('.*'+uname+'.*'))
    			opts[i].selected="selected"
    	}
    	
    }
});
  });
  </script>
  {%endif%}
{% endblock %}
{% block sidebar_top %}
<ul>
    {% if can.adduser %}
    <li><a href="#" onClick="toggle(0)">Add User</a>
    {% endif %}
    {% if can.addrole %}
    <li><a href="/groups/{{group.id}}/CreateRole/">Create a New Role</a>
    {% endif %}
    {% if can.addgroup %}
    <li><a href="/groups/{{group.id}}/Addsubgroup/">Add Subgroup</a>
    {% endif %}
    {% if can.delgroup %}
    <li><a href="/groups/Delete/{{group.id}}/">Delete Group</a>
    {% endif %}
    <li><a href="/calendar/group{{group.id}}/">Group Calendar</a>
    <li><a href="/gallery/group/{{group.id}}/">Group Gallery</a>
    <li><a href="/forum/{{group.id}}/">Group Forums</a>
    <li><a href="/email/group/{{group.id}}/">Email Group</a>
</ul>
{% endblock%}
{% block content %}

<h2>{{ group }}</h2>
{%if can.editgroup %}
<a href="/groups/{{ group.id }}/Edit">Edit Group Description</a>
{% endif %}
<p>{{ group.group_description|safe }}</p>
<hr />
{% if can.adduser %}
<div style="display:none" id="Add">
<form method="post" >
<fieldset><legend>Add User to Group</legend>
	
<p>{{ formAddUser.new_member }}<input id="autocomplete" style=""></p>	
<p>{{ formAddUser.role }}</p>
{{ formAddUser.group }}
{% csrf_token %}
<input type="submit" value="Add New Member" >
<a href="#" onClick="toggle(1)">Cancel</a>
</fieldset>
</form>
</div>
{% endif %}
{% for r in roles %}
{% for usr in r.users.all %}
{{ usr.username }} (
{% if r.name != "Owner" and can.editrole %}
<a href="/groups/EditPerms/{{r.id}}/">{{r.name}}</a>
{% else %}
{{r.name}}
{% endif %}
)
<br/>
<div style="margin-left:25px">
{% if can.edituser %}
<a href="/groups/{{group.id}}/EditRole/{{usr.id}}">Change User Role</a>
{% endif %}
{% if can.edituser and can.deluser and usr.id != user.id%} | {% endif %}
{% if can.deluser and user.id != usr.id %}
<a href="/groups/{{group.id}}/RemoveUser/{{usr.id}}/">Remove User</a>
{% endif %}
</div>

{% endfor %}
{% endfor %}
<script type="text/javascript">
function toggle(flag){
    if(!flag){
        document.getElementById("Add").style.display="block"
    }
    else{
        document.getElementById("Add").style.display="none"
    }
}
</script>

{% if group.getChildren %} <h2>Subgroups:</h3> {% endif %}
{% for subgrp in group.getChildren %}
<div>
<a href="/groups/{{subgrp.id}}/"><h3>{{subgrp.group_name}}</h3></a>
	<div style="margin-left:15px">
	{% for r in subgrp.roles %}
	{% for usr in r.users.all %}
	{{ usr.username }} (
	{% if r.name != "Owner" and can.editrole %}
		<a href="/roles/EditPerms/{{r.id}}/">{{r.name}}</a>
	{% else %}
		{{r.name}}

	{% endif %} 

	<br/>
<div style="margin-left:40px">
{% if can.edituser %}
<a href="/groups/{{group.id}}/EditRole/{{usr.id}}">Change User Role</a>
{% endif %}
{% if can.edituser and can.deluser and usr.id != user.id%} | {% endif %}
{% if can.deluser and user.id != usr.id %}
<a href="/groups/{{group.id}}/RemoveUser/{{usr.id}}/">Delete User</a>
{% endif %}
</div>

{% endfor %}
{% endfor %}
</div>
</div>	
{% endfor %}
{% comment %}
{{ can }} {{ group }}
{% endcomment %}
{% if can.adduser %}

{% endif %}
{% endblock %}
