{% extends "base.html" %}

{% block pagetitle %}
{{group.group_name}} : {{forum.forum_name}} : Threads : New Thread
{% endblock pagetitle %}

{% block sidebar_top %}
<h2>Forum Options</h2>
<ul>
 <li><a href="/groups/{{group.id}}">Return to Group Page</a></li>
 <li><a href="/forum/{{group.id}}">Return to Forums</a></li>
 <li><a href="/forum/{{group.id}}/{{forum.id}}">Return to Threads</a></li>
</ul>
{% endblock %}

{% block content %}
 <form method="POST">
  {%csrf_token%}
  {{form.as_p}}
  <input type="SUBMIT" value="Create Thread">
 </form>
{% endblock content %}