{% extends "base.html" %}

{% block pagetitle %}
{{group.group_name}} : {{forum.forum_name}} : {{thread.thread_name}} : Delete Thread
{% endblock pagetitle %}

{% block sidebar_top %}
<h2>Forum Options</h2>
<ul>
 <li><a href="/groups/{{group.id}}">Return to Group Page</a></li>
 <li><a href="/forum/{{group.id}}">Return to Forums</a></li>
 <li><a href="/forum/{{group.id}}/{{forum.id}}">Return to Threads</a></li>
</ul>
{% endblock %}

{% block content %}
<p>
Deleting: {{thread.thread_name}}
Are you sure you want to delete this thread?
</p>
<form action="" method="POST">
 {% csrf_token %}
 <input type="submit" value="Delete"/> <input type="submit" value="Cancel"/>
</form>
{% endblock content %}