{% extends "base.html" %}

{% block pagetitle %}
{{group.group_name}} : Forums
{% endblock pagetitle %}

{% block sidebar_top %}
<h2>Forum Options</h2>
<ul>
 <li><a href="/groups/{{group.id}}">Return to Group Page</a></li>
 {% if can.addforum %}
	<li><a href="/forum/{{group.id}}/add_forum">Add Forum</a></li>
 {% endif %}
</ul>
{% endblock %}

{% block content %}
<table border="1" cellpadding="6" class="table" width="95%">
<th>Forum</th><th align="right">Last Post</th><th></th>
{% for forum in forums %}
	<tr class="{% cycle 'odd' "even" %}">
	 <td><b><a href="/forum/{{group.id}}/{{forum.id}}">{{forum.forum_name}}</a></b><br />
	  <p>{{forum.forum_description}}</p></td>
	 <td align="right">Last Post on <a href="/forum/{{group.id}}/{{forum.id}}/{{forum.LastPostThread.id}}">{{forum.LastPostDate}}</a><br />
	  by <!--<a href="">-->{{forum.LastPostUser.username|capfirst}}<!--</a>-->
	  in <a href="/forum/{{group.id}}/{{forum.id}}/{{forum.LastPostThread.id}}">{{forum.LastPostThread.thread_name}}</a>
	 </td>
	 <td align="right"> <a href="/forum/{{group.id}}/{{forum.id}}/edit_forum">
	 {% if can.editforum %}
	  Edit Forum
	 {% endif %}
	 </a><br />
	 <a href="/forum/{{group.id}}/{{forum.id}}/delete_forum">
	 {% if can.deleteforum %}
	  Delete Forum
	 {% endif %}
	 </a>
	</tr>
{% endfor %}
</table>
{% endblock content %}