{% extends "base.html" %}

{% block pagetitle %}
{{group.group_name}} : {{forum.forum_name}} : {{thread.thread_name}} : Posts
{% endblock pagetitle %}

{% block sidebar_top %}
<a href="/group/{{group.id}}">Return to Group</a><br />
<a href="/forum/{{group.id}}">Return to Forums</a><br />
<a href="/forum/{{group.id}}/{{forum.id}}">Return to Threads</a><br />
<a href="/forum/{{group.id}}/{{forum.id}}/{{thread.id}}/add_post">Post Reply</a>
{% endblock %}

{% block content %}
<table border="1" cellpadding="6">
{% for post in posts %}
	<tr>
	 <th><b><a href="">{{post.user.username|capfirst}}</a></th>
	 <th colspan="2"></b>{{post.date_created}}</th>
	</tr>
	<tr colspan="3">
	 <td colspan="3">{{post.post_text}}</td>
	</tr>
	<tr colspan="2">
	 <td><a href="/forum/{{group.id}}/{{forum.id}}/{{thread.id}}/add_post">Post Reply</a></td>
	 <td><a href="/forum/{{group.id}}/{{forum.id}}/{{thread.id}}/{{post.id}}/edit_post">Edit Post</a></td>
	 <td><a href="/forum/{{group.id}}/{{forum.id}}/{{thread.id}}/{{post.id}}/delete_post">Delete Post</a></td>
	</tr>
{% endfor %}
</table>

{% endblock content %}