<head>
<title>New User Registration</title>
<script type="text/javascript"  src="{{ MEDIA_URL }}js/jquery.js" ></script>

<style type="text/css">
.login_holder{
        border:#000 solid thin;
        width:260px;
        text-align:center;
};
</style>
</head>
<div class="login_holder">
<h3>Register User</h3><hr>
<form method="post">
<table style="text-align:right;" valign="bottom">
{% csrf_token %}
{{ rform.as_table }}
</table>

<input type="submit" value="Register" style="float:left;margin:5px" >  <a href="{% url gus.gus_groups.views.login %}" style="float:right;margin-right:20px">Login</a>
</form>
<div style="clear:both" />
</div>
<script type="text/javascript">
jQuery('tr').attr('valign','bottom')
</script>
