{% extends "base.html" %}
{% block title %}User Profile {{ user }}{% endblock %}
{% block site_content %}
<div>{{ user.user.first_name }} {{ user.user.last_name  }}&lt;{{ user.user.email }}&gt;</div>
<div class="left header medium" style="margin-right:20px;">My Groups</div>
<div class="vspace_small hpad_small">
<a href="{% url gus_groups.views.create_group %}">Create A New Group</a> | <a href="/gus/join_group/">Join an existing Group</a>
</div>
<hr>
<table>
{% for group in  groups %}
<tr><td><a href="{% url gus_groups.views.view_group group.gid.id %}">{{ group.gid }}</a></td><td>{{group.role_name}}</td>
<td><a href="{%url gus_talk.views.main group.gid.id %}">View Group Forums</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
