<head>
<title>Login</title>
<style type="text/css">
.login_holder{
	border:#000 solid thin;
	width:250px;
	text-align:center;
};
</style>
</head>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="login_holder">
<h3>Login</h3><hr>
<form method="post">{% csrf_token %}
<table>
{{ lform.as_table }}
<tr><td><input type="submit" value="Login" /></td><td><a href="{% url gus.gus_groups.views.register %}">register</a></td></tr>
</table>
</div>
</form>
