<h2>CS 383 Python Gus Developement Team</h2>

<p>Gus is intended to be a Group Management tool specifically aimed at the University environment.</p>

<div style="width:800px">
     <div style="width:400px;border-left:#000 solid thin;float:right">
	<span style="font-size=8;color:#F00">*Only Register if you are currently in CS383</span>
	<form method="POST" action="">
		{% csrf_token %}
		<fieldset><legend>Register</legend>
		{{ rform.as_p }}
		<input type="submit" value="Request Access" />
		</fieldset>
	</form>
    </div>
    <div style="width:350px;float:left">
	<form method="POST" action="">{% csrf_token %}
		<fieldset> <legend>Login</legend>
		{{ lform.as_p }}
	<input type="submit" value="login" />
		</fieldset>
	</form>
    </div>
</div>
