/* This template has been revised to correct errors with margins as well as 
	small issues with readability and portability. */

html {
	/* Stretch to the height of the screen */


	/*Fall Back Option*/
	background: white;

	/* gecko based browsers */
	background: -moz-linear-gradient(top, #fffeed, #b18e5f);

	/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#fffeed), to(#b18e5f));
	
	background-image: url('background.png');
	background-position: left top;
	background-repeat: repeat-x;
	background-attachment: fixed;
	
}

body{
	margin: auto;
	width: 1024px;
	background: #436188;
	height: auto;
}

/* IDs (unique) elements */

div#container{
	margin: auto;
	width: 980px;


	background-image: url('content_background.png');
	
	font-family: "Arial";
	font-size: 11pt;

}

/* These are all ids to handle the banner and user interface stuff at the top of the page*/

div#top{
	float: center;
	width: 100%;
	min-height: 100px;
	clear: both;
}

div#banner_holder{
	float: left;
	width: 167px;
	height: 100px;
	background-image: url('banner.png');
}


div#links{
	float: right;
	width: auto;
	height: 25px;
	text-align: center;
	font-size: 11px;
	
	background: #436188;
}

div#user_content{
	float: right;
	height: 75px;
	clear: right;
	width :600px;	
	text-align: right;
	font-size: 11px;
	padding: 5px;
}

img.user_picture{
	border: 1px solid black;
}	
/* End top content */


/* Start groups selection and page content */

/*15% of 980px = */
div#groups_column{
	float: left; 
	width: 150px;
	background: #436188;

}

div#content{
	float: right;
	width: 784px;
	border-top: 1px dashed #436188; 
	padding: 10px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image:url('uistar.png'); 
}

div#footer{
	height: auto;
	width: 100%;
	float: bottom;
	clear: both;
	border-top: 1px dashed #436188;
	padding: 10px;
	font-size: 9px;
	font-color: #666;
	text-align: center;
}

/* Awesome List CSS */

ul#links, ul#links ul {
	margin: 0;
	padding-top: 2px;
	list-style: none;
	font-family: verdana, sans-serif;
	text-align: center;
	}
 
ul#links  li {
	position: relative;
	float: right;
	width:100px;
	height: 25px;
	text-align: center;
	font-size: 12pt;

}
	
#links li ul {
	position: absolute;
	margin-left: -999em; /* hide menu from view */
	top: auto;
	left:0;
}
 
/* Styles for Menu Items */
ul#links  li a {
	display: block;
	text-decoration: none;
	color: white;
	min-height:0;
	}
	
/* commented backslash mac hiding hack \*/ 
* html ul#links  li a {height:1%;	position:relative;}
/* end hack */ 
 
/* this sets all hovered lists to the soft green */
#links li:hover a,#links  li.over a,
#links li:hover li a:hover,#links li.over li a:hover {
   background-color: #57797b;
  
}


ul#nav, ul#nav ul{
	margin: 0;
	list-style: none;
}
   
 
div.spreader{
	width: 100%;
	height: 30px;
	clear: both;
	float: center;
	
	
}



