{% extends "base.html" %}
{% block pagetitle %}Bills for the User{%endblock%}
{% block content %}


<p>
{% if not bills %}
  No Bills associated with user: {{user.username|capfirst}}.
{% endif %}

<table>
{% for bill in bills %}
  <tr>
  <th>{{bill.group.group_name|capfirst}}</th></tr>
  <td></td>
  <td>{{bill}}</td>
  </tr>
{% endfor %}
</table>
</p>

<p>
<table>
{% for group in adminGroups %}
  <tr>
  <th>{{group.group_name|capfirst}} [<a  href='/bill/Add/{{group.id}}/'>Add</a>]</th></tr>
  {% for bill in group.my_bills %}<tr>
    <td> </td>
    <td>{{bill}}</td><td> [<a href='/bill/Delete/{{bill.id}}'>Delete</a>]  [<a href='/bill/Payments/{{bill.id}}'>Payments</a>] [<a href='/bill/Archive/{{bill.id}}'>Renew</a>]</td>
    </tr>
  {% endfor %}
{% endfor %}
</table>
</p>

{%endblock%}
