{% extends "base.html" %}
{% block pagetitle %}Bills for the User{%endblock%}
{% block content %}


<p>
{% if not bills %}
  No Bills.
{% endif %}
{% for bill in bills %}
  {{bill}}
{% endfor %}
</p>

<p>
<table>
{% for group in adminGroups %}
  <tr>
  <th>{{group.group_name|capfirst}} [<a  href='/bill/Add/{{group.id}}/'>Add</a>]</th></tr>
  {% for bill in group.my_bills %}<tr>
    <td> </td>
    <td>{{bill}} [<a href='/bill/'>Delete</a>]</td>
     </tr>
  {% endfor %}
{% endfor %}
</table>
</p>

{%endblock%}