{% extends "base.html" %}

{% block pagetitle %}
Payments
{% endblock pagetitle %}

{% block content %}
Current Balance: {{balance}}

<h3>Previous Payments</h3>
{% if not payments %}
  No payments associated with the bill: {{bill.name|capfirst}}
{% endif %}

<table bordercolor="#42647F" style="background-color:#A7CAE8" cellpadding="10" cellspacing="3">
  <tr bgcolor="#D8D8D8" background-color="#D8D8D8" height="30">
  <th>{{bill.name|capfirst}}</th></tr>
{% if not payments %}
  <td align="center" width="75"q>0</td>
{% endif %}
{% for payment in payments %}
  <td align="center">{{payment}}</td>
  </tr>
{% endfor %}
</table>


<h3>Payments for Bill {{bill.name}}</h3>
<form method="POST">
{%csrf_token%}
{{ form.as_p }}
<input type="SUBMIT" value="Submit">
</form>

<br>
<a href="/bill/">Return</a>

{% endblock content %}
 
