{% extends "base.html" %}
{% block pagetitle %}
Login
{% endblock pagetitle %}

{% block content %}
<form method="post">
  
{% if fail %}
<p><strong>Username or Password is incorrect.</strong></p>
{% endif %}

<div class="login_register">   
{% csrf_token %}
<!--Print Login Form -->

<table class="login_register">
{{ form.as_table }}
<!-- add cross site request forgery safety key(reqd for all forms) --> 
</table>
</form>
<input type="submit" value="Login">
<a href="/login/reset/">Forgot Password</a>
</div>

{% endblock content %}
