{% extends "base.html" %}
{% block pagetitle %}
Profile
{% endblock pagetitle %}

{% block content %}

<h2>Welcome, {{usr.get_full_name}} ({{usr.username}})<hr/>
<h4></h4>
<p>Email: {{usr.email}}
	<br>
<a href="/email/check">{{unread_emails}} unread messsages</a></p>

{% for role in roles %}
  <table width="95%">
	  <tr align="left">
		  <th>Group: {{role.group.group_name}} [ <a href="/groups/{{role.group.id}}/RemoveUser/{{user.id}}/">Leave Group</a> ]</th>
	  </tr>
  	<tr>
		  <td width="10%">
		  <p><a href="/groups/{{role.group.id}}/">Go to {{role.group.group_name}}</a>
		  <p>Description - {{role.group.group_description}}</p>
		  <p>Role: {{role.name}}</p>
		  <p>	
		  <a href="/bill">Bills:</a>
		  {% for bill in role.group.my_bills %}
		  	{{bill.outstanding}}
		  {% endfor %}
		  </p>
		  <p>
      <a href="/calendar/group{{role.group.id}}/">Calendar</a>
      </p>
		  <p>
		  <a href="/gallery">Gallery</a> - {{role.group.my_images}} images uploaded by you
		  </p>
		  <a href="/forum/{{role.group.id}}">Forums</a>
		  </td>
	  </tr>
  </table>
{% endfor %}

{% endblock content %}



