{% extends "base.html" %}
{% block pagetitle %}
Profile
{% endblock pagetitle %}

{% block content %}



<table width="95%">
	{% for role in roles %}
	<tr align="left">
		<th>Group: {{role.group.group_name}}</th>
	</tr>
	<tr>
		<td width="10%">
		<p>Description - {{role.group.group_description}}</p>
		<p>Role: {{role.name}}</p>
		<p>	
		<a href="/bill">Bills:</a>
		{% for bill in role.group.my_bills %}
			{{bill.outstanding}}
		{% endfor %}
		</p>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock content %}



