{% extends "base.html" %}
{% load control_manager  %}
{% block pagetitle %}My Groups{% endblock %}
{% block content %}
<div style="width:450px;">
<h3>Groups </h3>
	{% for g in groups %}
	
	<div>{{g.group.group_name}}
	 [ <a href="/groups/{{g.group.id}}/">View</a> ]
	 {% if g.candeletegroup %}
	 [ <a href="/gus_test/Group/Delete/{{g.group.id}}/">Delete</a> ]
	 {% endif %}
	 {% comment %}
	 [ <a href="/gus_test/Group/Add">Add Subgroup</a> ]
	 {% control user grp 'link_label' 'http://url' 'Can change user' %}
	 {% endcomment %}
	</div>
	{% endfor %}
</div>
{%endblock%}
