{% extends "base.html" %}
{% block pagetitle %}Gus Test Suite{%endblock%}
{% block content %}
<div style="width:250px;float:right">
<h3>Groups [<a href="/groups/Add">Add</a> ]</h3>
	{% for grp in groups %}
	<div>{{grp}}
	 
	 [ <a href="/groups/{{grp.id}}/">View</a> ]
	</div>
	{% endfor %}
</div>

<div style="width:250px">
<h3>Users [<a href="/gus_test/User/Add/">Add</a> ]</h3>
	{%for usr in users%}
	<div>{{usr}} <a href="/gus_test/User/Delete/{{usr.id}}/">Delete</a>
	 | <a href="/gus_test/User/Edit/{{usr.id}}/">Edit</a>
	 | <a href="/gus_test/User/View/{{usr.id}}/">View</a>
	 </div>
	{% endfor %}
</div>
{%endblock%}
